<a href="https://colab.research.google.com/github/wontwopunch/colab/blob/master/remind_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# set

friends = {"Bob", "Rolf", "Anne"}
abroad = {"Bob", "Anne"}

# Bob과 Anne이 해외에 있다면 Rolf는 해외에 없을 테니
# 현지 친구들과 Rolf는 한 세트
# 단일 요소로 세트를 정의하는 방법

# difference
local_friends = friends.difference(abroad) # 두 세트의 차이를 계산 friends를 시작점으로 해서
print(local_friends)

local_friends = abroad.difference(friends) # 두 세트의 차이를 계산 friends를 시작점으로 해서
print(local_friends)

# union
union_friends = friends.union(abroad)
print(union_friends)

art = {"Boby", "Jen", "Charlie"}
science = {"Boby", "Jen", "Adam", "Anne"}

# intersection
both = art.intersection(science)
print(both)

{'Rolf'}
set()
{'Anne', 'Rolf', 'Bob'}
{'Jen', 'Boby'}

In [1]:
# Lambda functions
# 입력을 받고 출력을 반환

#def add(x,y):
#  return x+y

# 이름없는 함수, 맵과 함께 사용
# ()으로 묶으면 단일 유닛으로 처리
(lambda x,y: x+y)(5,7)

12

In [3]:
# *args
def multiply(*args):
  print(args)

multiply(1,3,5)

(1, 3, 5)

In [7]:
# *args
def multiply(*args):
  total = 1
  for arg in args:
    total = total * arg

  return total

print(multiply(1,3,5))

15

In [9]:
def add(x,y):
  return x+y

nums = [3,5]
print(add(*nums))

8

In [11]:
def add(x,y):
  return x+y

nums = {"x":15, "y":25}
print(add(**nums))

40

In [13]:
# **kwargs

def named(**kwargs):
  print(kwargs)

named(name="Bob", age=25)

{'name': 'Bob', 'age': 25}

In [16]:
# 객체지향

class Student:
  def __init__(self, name, *grades):
    self.name = name
    self.grades = grades

  # 객체지향의 멋진 기능
  def average_grade(self):
    return sum(self.grades) / len(self.grades)

student1 = Student("Bob", 90, 70, 80)
print(student1.average_grade())        # 평균 성적 출력

80.0